<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Data Refresh</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <form id="record-form">
        <label for="num-records">Number of records:</label>
        <input type="number" id="num-records" name="num-records" value="5">
        <label for="mac-address">MAC Address:</label>
        <select id="mac-address" name="mac-address">
            <option value="">All</option>
            {% for mac, location in unique_mac_addresses_with_locations %}
                <option value="{{ mac }}">{{ mac }}</option>
            {% endfor %}
        </select>
        <label for="location">Location:</label>
        <select id="location" name="location">
            <option value="">All</option>
            {% for mac, location in unique_mac_addresses_with_locations %}
                <option value="{{ location }}">{{ location }}</option>
            {% endfor %}
        </select>
        <button type="submit">Fetch Data</button>
    </form>
    
    <table id="data-container" border="1">
        <thead>
            <tr>
                <th>Time</th>
                <th>Time Difference</th>
                <th>MAC</th>
                <th>Location</th>
                <th>L1 Value</th>
                <th>L2 Value</th>
                <th>L3 Value</th>
            </tr>
        </thead>
        <tbody>
            <!-- Dane zostaną tutaj wstawione dynamicznie -->
        </tbody>
    </table>
    
    <canvas id="myChart" width="400" height="200"></canvas>
</body>
</html>
